<main role="main" class="container main-container">
  <div class="starter-template text-center">
      <h1 class="main-topic m-0">Welcome to</h1>
      <br>
      <div class= "header">
        <h1 class= "header">Rental System </h1>
    </div>
    <br> <br><br>
      <div class="c-Block z-Search z-Padding4 app-list-wrapper">
          <div class="row">
            <div
                  class="_content"
                  routerLink="/cameratype"
            >
                  <img src="assets/img/camera.png" class="img-fluid mx-auto d-block" width="96px" />
                  <h4>Camera & Drones Management</h4>
            </div>
            <div class="_content" routerLink="/lense" >
                  <img src="assets/img/lenses.png" class="img-fluid mx-auto d-block" alt="front-desk" width="96px" />
                  <h4>Lenses Management</h4>
            </div>
            <div
                  class="_content"
                  routerLink="/acc"
            >
                  <img src="assets/img/ass.jpg" class="img-fluid mx-auto d-block" width="96px" />
                  <h4>Accessories Mangement</h4>
            </div>
            <div
                    class="_content"
                    routerLink="/guest"
                >
                    <img src="assets/img/frondesk-user.png" class="img-fluid mx-auto d-block" alt="acc-manager" width="96px" />
                    <h4>Guest Mangement</h4>
            </div>
            <div class="_content" routerLink="/reservation">
                <img
                    src="assets/img/HPOS_Icon_150dpi.png"
                    class="img-fluid mx-auto d-block hpos-img"
                    alt="front-desk"
                    width="96px"
                />
                <h4>Reservation Mangement</h4>
            </div>
              
          </div>
      </div>

      <br> <br>
      
      <div class="row action-wrapper">
        <div class="col d-flex end">
            <span class="logout-link" routerLink="/report" ><b>Report</b></span>
        </div>
        <div class="col d-flex">
            <span class="logout-link" routerLink="/" ><b>Logout</b></span>
        </div>
    </div>
  </div>
</main>
